<header class="text-center">
        <span style="margin-top:3px;" class="glyphicon glyphicon-menu-left pull-left"></span><span>购物车</span>
</header>
<div class="container-fluid" style="">
  <div class="col-xs-12 ">
    <div class="text-center" style="line-height:125px"><div class="radius-125"><span  class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span></div></div>
    <div style="line-height:48px;" class="text-center"><span class="item-title">购物车什么都没有，去逛逛吧</span></div>
    <div  ><button ng-click="go_shop()"class="btn btn-success btn-block">去逛逛</button></div>
  </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
     <div class="row menu">
                <div class="col-xs-3" onclick="window.location.href='#/home/index'">
                    <div ><img class="menu-icon" src="/img/index02.png" >首页</div>
                </div>
                <div class="col-xs-3" onclick="window.location.href='#/home/shop'">
                    <div ><img src="/img/index02.png" class="menu-icon">商城</div>
                </div>
                <div class="col-xs-3 " onclick="window.location.href='#/cart/list'">
                    <div ><img src="/img/order.png" class="menu-icon">购物车</div>
                </div>
                <div class="col-xs-3" onclick="window.location.href='#/me'">
                    <div ><img src="/img/login_username.png" class="menu-icon"><span>我的</span></div>
                </div>
            </div>
  </div>
</nav>

