<header class="text-center">
 <span onclick="window.location.href='#/user/address'" style="margin-top:3px;" class="glyphicon glyphicon-menu-left pull-left"></span>
 <span >新增收货地址</span>
 <span style="margin-top:3px;" ng-click="saveAddress()" class="glyphicon glyphicon glyphicon-ok pull-right"></span>
</header>
<div class="container-fluid" style="">
  <div class="row item-div line-height28" style="padding-bottom:10px;">
    <div class="item-header text-center background-color1"><span>联系人</span></div>
    <div class="top15">
	   <div class="col-xs-3 text-right">姓名:</div>
	    <div class="col-xs-8"><input class="form-control input-sm" ng-model="address.accept_name"placeholder="姓名"  type="text"></div>
    </div> 
    <div class="top15">
       <div class="col-xs-3 top15 text-right">手机号</div>
       <div class="col-xs-8 top15"><input class="form-control input-sm" ng-model="address.mobile" placeholder="手机号"  type="text" ></div>
    </div> 
  </div>
  
   <div class="row item-div line-height28" style="padding-bottom:10px;">
    <div class="item-header text-center background-color1"><span>收货地址</span></div>
    <div class="top15">
       <div class="col-xs-3 top15 text-right" >街道:</div>
        <div class="col-xs-8 top15"><input ng-model="address.region" class="form-control input-sm" placeholder="正在定位..." type="text">
        </div>
        <div style="margin-left: -30px;margin-right: -15px;" class="col-xs-1 top15 " ng-click='currentLoaction()'><span  class="glyphicon glyphicon-map-marker" aria-hidden="true"></span></div>
    </div> 
    <div class="top15">
       <div class="col-xs-3 top15 text-right">门牌号</div>
       <div class="col-xs-8 top15"><input class="form-control input-sm" ng-model="address.address" placeholder="具体位置" type="text"></div>
    </div> 
  </div>
</div>

