<header class="text-center">
    <span>注册</span>
</header>
<!-- 轮播开始 -->
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner clear-left" role="listbox">
    <div class="item active" style="width:100%;">
      <img src="/img/banner1.jpg" alt="">
      <div class="carousel-caption">
        2121
      </div>
    </div>
    <div class="item">
      <img src="/img/banner1.jpg" alt="...">
      <div class="carousel-caption" style="">
        212
      </div>
    </div>
  </div>
</div>
<!-- 轮播结束 -->
<div class="container-fluid" style="background:#fff;margin-top:25px;">
  <!-- 导航菜单开始 -->
  <div class="menu-item">
    <div class="col-xs-4" ng-click="">
       <div onclick="window.location.href='#/home/shop'" ><img src="/img/icon_home1.png" style="width:32px;height:32px;"></div>
       <p>春季产品</p>
    </div>
    <div class="col-xs-4" ng-click="">
       <div ><img src="/img/icon_home2.png" style="width:32px;height:32px;"></div>
       <p>夏季产品</p>
    </div>
    <div class="col-xs-4" ng-click="">
       <div><img src="/img/icon_home3.png" style="width:32px;height:32px;"></div>
       <p>秋季产品</p>
    </div>
    <div class="col-xs-4" ng-click="">
       <div ><img src="/img/icon_home4.png" style="width:32px;height:32px;"></div>
       <p>冬季产品</p>
    </div>
    <div class="col-xs-4" ng-click="">
       <div ><img src="/img/icon_home5.png" style="width:32px;height:32px;"></div>
       <p>特产专区</p>
    </div>
  </div>
  <!-- 导航菜单结束 -->
  <!-- 推荐开始 -->
  <div class="row clear-left">
     <div class="home_banner"><img src="/img/recommend1.jpg"></div>
     <div class="home_banner"><img src="/img/recommend1.jpg"></div>
     <div class="home_banner"><img src="/img/recommend1.jpg"></div>
  </div>
  <!-- 土建结束 -->
  
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
     <div class="row menu">
                <div class="col-xs-3" onclick="window.location.href='#/home/index'">
                    <div ><img class="menu-icon" src="/img/index02.png" >首页</div>
                </div>
                <div class="col-xs-3" onclick="window.location.href='#/home/shop'">
                    <div ><img src="/img/index02.png" class="menu-icon">商城</div>
                </div>
                <div class="col-xs-3 " onclick="window.location.href='#/cart/list'">
                    <div ><img src="/img/order.png" class="menu-icon">购物车</div>
                </div>
                <div class="col-xs-3" onclick="window.location.href='#/me'">
                    <div ><img src="/img/login_username.png" class="menu-icon"><span>我的</span></div>
                </div>
            </div>
  </div>
</nav>


