<header class="text-center">
        <span onclick="window.location.href='#/me'" style="margin-top:3px;" class="glyphicon glyphicon-menu-left pull-left"></span>
        <span>我的订单</span>
</header>
<div class="container-fluid content-main">
    <div class="row row-1 ">
        <div ng-click="getorder('all')" ng-class="{'bg-1':status=='all'}" class="col-xs-3 col-sm-3 nav_tab" data="tab_1">全部</div>
        <div ng-click="getorder('wait_pay')" ng-class="{'bg-1':status=='wait_pay'}" class="col-xs-3 col-sm-3 nav_tab" data="tab_2">待付款</div>
        <div ng-click="getorder('wait_delivery')" ng-class="{'bg-1':status=='wait_delivery'}" class="col-xs-3 col-sm-3 nav_tab" data="tab_3">待发货</div>
        <div ng-click="getorder('wait_receipt')" ng-class="{'bg-1':status=='wait_receipt'}" class="col-xs-3 col-sm-3 nav_tab" data="tab_4">待收货</div>
    </div>
    <div class="row ">
      <div class="col-xs-12" ng-repeat="item in orders">
        <div class="row item-div">
            <div>
                <span class="col-xs-4 item-title">订单号</span>
                <span class="col-xs-7 item-content">{{item.order_no}}</span>
            </div>
            <div>
               <span class="col-xs-4 item-title">状态</span>
               <span class="col-xs-6 item-content">{{item.distribution_name}}</span>
            </div>
            <div>
            <span class="col-xs-4 item-title">支付方式</span>
               <span class="col-xs-6 item-content">{{item.pay_type_name}}</span>
            </div>
        </div>
        <div class="row " onclick="window.location.href='#/order/detail'">
            <div class="col-xs-4"><img class="item-img" ng-src="{{item.goods_detail[0].img}}"></div>
            <div class="col-xs-4 pull-right">
                <span class="item-content line-height72">共{{item.total_count}}件</span>
            </div>
        </div>
        <div class="row item-div" style="line-height:46px;border-bottom:1px solid #ffa726">
            <span ><button ng-click="detail(item)"  style="margin-top:13px;margin-right:15px;" class="col-xs-3 pull-right btn btn-xs btn-success ">查看详情</button></span>
            <span ><button ng-if="item.pay_status==0&&item.pay_type!=0"style="margin-top:13px;margin-right:15px;"  class="col-xs-3 pull-right btn btn-xs btn-success ">立即支付</button></span>
            <span  class="  item-title">订单总价：</span>
            <span  style="margin-right:10px;" class="  color1" >￥{{item.order_amount}}</span>
        </div>
     </div>
   </div>
  <div style="height:100px;"></div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
     <div class="row menu">
                <div class="col-xs-3" onclick="window.location.href='#/home/index'">
                    <div ><img class="menu-icon" src="/img/index02.png" >首页</div>
                </div>
                <div class="col-xs-3" onclick="window.location.href='#/home/shop'">
                    <div ><img src="/img/index02.png" class="menu-icon">商城</div>
                </div>
                <div class="col-xs-3 " onclick="window.location.href='#/cart/list'">
                    <div ><img src="/img/order.png" class="menu-icon">购物车</div>
                </div>
                <div class="col-xs-3" onclick="window.location.href='#/me'">
                    <div ><img src="/img/login_username.png" class="menu-icon"><span>我的</span></div>
                </div>
            </div>
  </div>
</nav>


